.main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .projects-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.main .panel {
  width: 370px;
  padding: 8px 20px;
  background-color: #1A1A1D;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 16px 4px #1A1A1D;
  transition: .5s;
}

.main .panel:hover {
  box-shadow: 2px 2px 16px 8px whitesmoke;
  transition: .5s;
}

.main .panel p {
  text-align: justify;
}

.main .panel a,.main .panel em {
  text-decoration: none;
  color: gray;
  align-self: flex-start;
}

.main .panel img {
  margin-top: 28px;
  width: 100%;
  object-fit: cover;
}
