.main {
    margin-top: 80px;
    padding-top: 10px;
}

.header {
    text-align: center;
}

.project-slice {
    display: flex;
    padding: 60px 160px;
    gap: 120px;
}

.project-slice#two {
    background-color: rgba(26, 31, 41, 0.851);
    border-top: 2px solid aliceblue;
}

.project-slice#three {
    background-color: rgba(36, 28, 41, 0.851);
    border-top: 2px solid aliceblue;
}

.project-icon {
    width: 500px;
}

#odin-pic {
    border-radius: 50%;
}

.chess-pics {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
}

#chess-code {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
 #chess-app {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
 }

.project-header {
    font-size: 32px;
    margin: 24px 0;
    font-weight: 700;

}

.project-description {
    margin: 0;
    line-height: 24px;
}

.footer {
    margin-top: 0;
}
