* {
  color: aliceblue;
  font-family: 'DM Sans', Sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #3500D3;
}

.nav-bar {
  background-color: #1A1A1D;
  height: 80px;
  border-bottom: 1px solid white;
  padding: 0 120px 0 120px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar div {
  display: flex;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar .name-bar h3 {
  font-size: 22px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-bar .list-items .text-item {
  border-radius: 24px;
  font-size: 18px;
  padding: 12px 24px;
}

.nav-bar .list-items .text-item:hover {
  background-color: #3500D3;
  transition: .5s;
}

.footer {
  margin-top: 80px;
  padding-top: 12px;
  height: 120px;
  background-color: black;
}

.footer p {
  text-align: center;
  font-size: 16px;
  color: rgb(183, 188, 193);
}
